{% extends 'layout.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="frame">
    {% comment %} <div id="outer_picture_frame"> {% endcomment %}
        <div id="inner_picture_frame"></div>
    {% comment %} </div> {% endcomment %}
    <div class="content">
        <h1 class="hello">HELLO!</h1>
        <p>
            My name is Nathan Allen. I am a developer and technologist, living in Mobile, Alabama.  Currently, I make a living building apps in Python and Java with AWS infrastucture.</p>
        <p>
            In my freetime, I enjoy tearing into older computers to get more life out of them, studying human languages, and cooking.
        </p>  
            <p>How may I help you, today?</p>
        
    </div>
</div>


{% endblock %}